<div class="p-5">
    <input type="text" placeholder="Filter by Name" class="form-control" [(ngModel)]="filterVar">
    <div class="mt-2 d-flex flex-row">
        <button class="btn btn-md" type="button">Filter </button>
        <button class=" ml-2 btn btn-md" type="button">Trier par </button>
    </div>
</div>
<div class="content row">
    <div *ngFor="let bar of bars | pureFilter:filterVar:'name'" class=" col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="d-flex flex-column bar-container mt-2 justify-content-center" [routerLink]="['../bar', bar.id ]">
            <img class="img-responsive" [src]="'data:' + bar.photoContentType + ';base64,' + bar.photo" style="max-width: 500px; max-height:250px;" alt="bar image"/>
            <h5 class="py-2 text-center bar-name-container rainbow-button">{{bar.name}}</h5>
    </div>
    </div>
</div>
